<div class="freud-grid-fixed">
  <div class="freud-row">
    <div class="freud-col text-center margin-top-quark" title="Col with margin-top equal $spacing-size-quark">
      <img src="assets/image/logo.svg">
      <h1>Exemplos de uso do grid</h1>
    </div>
  </div>

  <div class="freud-row with-col-colors">
    <div class="freud-col text-center">
      <h2>Grid com colunas em ordem normal</h2>
    </div>
    <div class="freud-col-4 text-center"> 4 colunas</div>
    <div class="freud-col-2 text-center"> 2 colunas</div>
    <div class="freud-col-6 text-center"> 6 colunas</div>
  </div>

  
  <div class="freud-row with-col-colors margin-top-quark">
    <div class="freud-col text-center">
      <br>
      <h2>Grid com colunas e classe de "ordem"</h2>
      <h4>freud-col-order-NUMERO</h4>
    </div>
    <div class="freud-col-4 freud-col-order-3 text-center"> 4 colunas (ordem 3)</div>
    <div class="freud-col-2 freud-col-order-1 text-center"> 2 colunas (ordem 1)</div>
    <div class="freud-col-6 freud-col-order-2 text-center"> 6 colunas (ordem 2)</div>
  </div>

  <div class="freud-row with-col-colors margin-top-quark">
    <div class="freud-col text-center">
      <br>
      <h2>Coluna com tamanhos diferentes em cada quebra de tamanho(sm, md e lg)</h2>
    </div>
    <div class="sm:freud-col-11 md:freud-col-8 lg:freud-col-5 text-center"> 11 colunas sm / 8 colunas md / 5 colunas lg</div>
  </div>
</div>
