.margin-top-quark {
    margin-top: var(--spacing-size-quark);
    text-align: center;
}
.text-center {
    text-align: center;
}

.with-col-colors {
    div[class*="freud-col-"]:nth-child(2) {
        background-color: var(--feedback-color-positive-pure);
    }
    div[class*="freud-col-"]:nth-child(3) {
        background-color: var(--feedback-color-negative-pure);
    }
    div[class*="freud-col-"]:nth-child(4) {
        background-color: var(--brand-color-01);
        color: black;
    }
}
