/* You can add global styles to this file, and also import other style files */
body {
    background-color: var(--brand-color-pure);
    color: var(--neutral-color-light-pure);
}

@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"), url(/assets/@freud-ds/fonts/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"), url(/assets/@freud-ds/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"), url(/assets/@freud-ds/fonts/SourceSansPro-Bold.ttf) format("truetype");
    font-weight: bold;
}

*, body {
    font-family: 'Source Sans Pro', sans-serif;
}